# dependencies (remove exceptions when Next.js releases fix)
/node_modules/*
!/node_modules/next
/node_modules/next/*
!/node_modules/next/dist
/node_modules/next/dist/*
!/node_modules/next/dist/next-server
/node_modules/next/dist/next-server/*
!/node_modules/next/dist/next-server/server
/node_modules/next/dist/next-server/server/*
!/node_modules/next/dist/next-server/server/render.js
!/node_modules/next/dist/next-server/server/render.js.map

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Glitch
shrinkwrap.yaml
