$enable-responsive-font-sizes: true;
$font-size-base: 1rem; // Same as Bootstrap default, necessary for next line
$h1-font-size: $font-size-base * 2.85; // Works better on Alegreya font I'm using for h1

@import "~bootstrap/scss/bootstrap.scss";

// Enables footer to stick to bottom
#__next {
  position: absolute;
  min-height: 100%;
  width: 100%;
  @extend .d-flex;
  @extend .flex-column;
}

// Navbar styles
.signature {
  font-family: "Dawning of a New Day", cursive;
  @include font-size($h2-font-size);
  img {
    @extend .d-inline-block;
    @extend .align-top;
    @extend .mr-3;
    height: 1.5em;
  }
}
.github-nav-link {
  @include font-size($h4-font-size);
}
@if $emphasized-link-hover-darken-percentage != 0 {
  a.github-nav-link {
    @include hover-focus() {
      color: #333 !important;
    }
  }
}

// Home page styles
.greeting {
  font-family: "Alegreya", serif;
  @extend .display-3;
}
.cap-lg-49 {
  @include media-breakpoint-up(lg) {
    max-width: 49rem;
  }
}

// Blog styles
.serif {
  font-family: "Lustria", serif;
}
.sans-serif {
  font-family: $font-family-sans-serif;
}
.essay-preview {
  @extend .position-relative;
  &:not(:last-child) {
    @extend .mb-5;
  }
  h2 a {
    @extend .text-reset;
    @extend .stretched-link;
  }
  h3,
  p {
    @extend .text-muted;
  }
  small {
    @extend .font-italic;
  }
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}

// Brand-colored links (mostly on /connect)
.github-link {
  color: lighten(#333, $emphasized-link-hover-darken-percentage);
  @include hover-focus() {
    color: #333 !important;
  }
}
.github-text-link {
  @extend .text-secondary;
  @include hover-focus() {
    color: #333 !important;
  }
}
.twitter-link {
  color: #1da1f2;
  @include hover-focus() {
    color: darken(#1da1f2, $emphasized-link-hover-darken-percentage) !important;
  }
}
.facebook-link {
  color: lighten(#3b5998, $emphasized-link-hover-darken-percentage);
  @include hover-focus() {
    color: #3b5998 !important;
  }
}
.instagram-link {
  color: #e1306c;
  @include hover-focus() {
    color: darken(#e1306c, $emphasized-link-hover-darken-percentage) !important;
  }
}

// Cap max widths of containers
@each $breakpoint, $container-max-width in $container-max-widths {
  .cap-width-#{$breakpoint} {
    @include media-breakpoint-up($breakpoint) {
      max-width: $container-max-width;
    }
  }
}

// Miscellaneous
p,
li {
  @extend .text-justify;
}
h1,
.h1 {
  font-family: "Alegreya", serif;
  @extend .mb-3;
}
.tooltip-inner {
  text-align: left;
  max-width: 98vw;
}
