$enable-responsive-font-sizes: true;
@import "~bootstrap/scss/bootstrap.scss";

.signature {
  font-family: "Dawning of a New Day", cursive;
  @include font-size($h2-font-size);
}

.greeting {
  font-family: "Alegreya", serif;
  @extend .display-3;
}

.github-link {
  @include font-size($h4-font-size);
  color: $navbar-light-color;
}
@if $emphasized-link-hover-darken-percentage != 0 {
  a.github-link {
    @include hover-focus() {
      color: #333 !important;
    }
  }
}

a.instagram-link {
  color: #e1306c;
  @include hover-focus() {
    color: darken(#e1306c, $emphasized-link-hover-darken-percentage) !important;
  }
}

a.facebook-link {
  color: lighten(#3b5998, $emphasized-link-hover-darken-percentage);
  @include hover-focus() {
    color: #3b5998 !important;
  }
}
