html,
body {
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

/**
 * Fonts downloaded with google-webfonts-helper (https://google-webfonts-helper.herokuapp.com)
 */
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Regular"), local("Alegreya-Regular"),
    url("alegreya-v14-latin-regular.woff2") format("woff2"),
    url("alegreya-v14-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Medium"), local("Alegreya-Medium"),
    url("alegreya-v14-latin-500.woff2") format("woff2"),
    url("alegreya-v14-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Dawning of a New Day";
  font-style: normal;
  font-weight: 400;
  src: local("Dawning of a New Day"), local("DawningofaNewDay"),
    url("dawning-of-a-new-day-v11-latin-regular.woff2") format("woff2"),
    url("dawning-of-a-new-day-v11-latin-regular.woff") format("woff");
}
