html,
body {
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

/* Source: Butterick's Practical Typography (https://practicaltypography.com/charter.html) */
@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: 400;
  src: local("Charter"), url("Charter/charter_regular.woff") format("woff");
}
@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: 700;
  src: local("Charter Bold"), local("Charter-Bold"),
    url("Charter/charter_bold.woff") format("woff");
}
@font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: 400;
  src: local("Charter Italic"), local("Charter-Italic"),
    url("Charter/charter_italic.woff") format("woff");
}
@font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: 700;
  src: local("Charter Bold Italic"), local("Charter-BoldItalic"),
    url("Charter/charter_bold_italic.woff") format("woff");
}

/* Source: https://github.com/huertatipografica/Alegreya */
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Regular"), local("Alegreya-Regular"),
    url("Alegreya/Alegreya-Regular.woff2") format("woff2"),
    url("Alegreya/Alegreya-Regular.woff") format("woff");
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Medium"), local("Alegreya-Medium"),
    url("Alegreya/Alegreya-Medium.woff2") format("woff2"),
    url("Alegreya/Alegreya-Medium.woff") format("woff");
}

/* Source: https://google-webfonts-helper.herokuapp.com */
@font-face {
  font-family: "Dawning of a New Day";
  font-style: normal;
  font-weight: 400;
  src: local("Dawning of a New Day"), local("DawningofaNewDay"),
    url("Dawning of a New Day/dawning-of-a-new-day-v11-latin-regular.woff2")
      format("woff2"),
    url("Dawning of a New Day/dawning-of-a-new-day-v11-latin-regular.woff")
      format("woff");
}
