.essay-preview {
  @extend .position-relative;
  &:not(:last-child) {
    @extend .mb-5;
  }
  h2 a {
    @extend .text-reset;
    @extend .stretched-link;
  }
  h3,
  p {
    @extend .text-muted;
  }
  small {
    @extend .font-italic;
  }
}

.ipynb {
  .language-python {
    @extend .border;
  }
  .language-plaintext {
    color: white;
    background: black;
    @extend .rounded;
    max-height: 22.2rem;
  }
  .data-table {
    table {
      display: block;
      border: none;
      overflow-x: auto;
    }
    .dataframe tbody tr th:only-of-type {
      vertical-align: middle;
    }
    .dataframe tbody tr th {
      vertical-align: top;
    }
    .dataframe thead th {
      text-align: right;
    }
  }
  p + pre,
  p + .data-table,
  p + .image-wrapper,
  ul + pre,
  ul + .data-table,
  ul + .image-wrapper,
  ol + pre,
  ol + .data-table,
  ol + .image-wrapper {
    margin-top: 2rem;
  }
  pre,
  .data-table,
  .image-wrapper {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  pre + p,
  pre + ul,
  pre + ol,
  .data-table + p,
  .data-table + ul,
  .data-table + ol,
  .image-wrapper + p,
  .image-wrapper + ul,
  .image-wrapper + ol {
    margin-top: 2rem;
  }
  .data-table p {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 2rem;
  }
  th,
  td {
    @extend .p-1;
  }
  td {
    @extend .text-monospace;
  }
}
