.essay-preview {
  @extend .position-relative;
  &:not(:last-child) {
    @extend .mb-5;
  }
  h2 a {
    @extend .text-reset;
    @extend .stretched-link;
  }
  h3,
  p {
    @extend .text-muted;
  }
  small {
    @extend .font-italic;
  }
}

.ipynb {
  .language-python {
    @extend .border;
  }
  .language-plaintext {
    color: white;
    background: black;
    @extend .rounded;
    max-height: 22.2rem;
  }
  .data-table table {
    display: block;
    border: none;
    overflow-x: auto;
  }
  p + pre,
  p + .data-table,
  p + img,
  ul + pre,
  ul + .data-table,
  ul + img,
  ol + pre,
  ol + .data-table,
  ol + img {
    margin-top: 2rem;
  }
  pre,
  .data-table,
  img {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  pre + p,
  pre + ul,
  pre + ol,
  .data-table + p,
  .data-table + ul,
  .data-table + ol,
  img + p,
  img + ul,
  img + ol {
    margin-top: 2rem;
  }
  .data-table p {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 2rem;
  }
  th,
  td {
    @extend .p-1;
  }
  td {
    @extend .text-monospace;
  }
}
