.signature {
  font-family: "Dawning of a New Day", cursive;
  @include font-size($h2-font-size);
}
.github-nav-link {
  @include font-size($h4-font-size);
  @include hover-focus() {
    color: #333 !important;
  }
}
.mastodon-nav-link {
  @include font-size($h4-font-size);
  @include hover-focus() {
    color: #3088d4 !important;
  }
}
